.metadata/
.settings/
.project
.classpath
/*/target/
/commit.txt
/*/logs/
effective-pom.xml
effective-settings.xml
/*/.gwt/
gwt-unitCache/
mocassin-ui/src/main/webapp/META-INF/
mocassin-ui/src/main/webapp/WEB-INF/classes/
mocassin-ui/src/main/webapp/WEB-INF/deploy/
mocassin-ui/src/main/webapp/WEB-INF/lib/
mocassin-ui/src/main/webapp/dashboard/
mocassin-ui/src/main/webapp/mocassin/
mocassin-ui/src/main/webapp/viewer/
